.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: 100%;
}
.column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.column > article { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 20px;
  width: 100%;
}

/* Optional, different gutter size on mobile */
@media (max-width: 500px) {
  .grid {
    margin-left: 0; /* gutter size offset */
  }
  .column {
    padding-left: 0; /* gutter size offset */
  }
  .column > article {
    margin-bottom: 15px; /* space between items */
  }
}